body {
    font-family: sans-serif;
}
header{
    background-color:gold;
    font-style:italic;
    padding:9px;
}
h1{
   color:DarkKhaki;
   text-align:center;
   background-color:yellow;
} 
footer{
    color:DarkKhaki;
    border:solid DarkOrange;
}
nav{
   color:Orange;
   border:dotted DarkRed;
   padding:10px;
}
.production{
    background-color:green;
}
h2{
    background-color:PaleGoldenrod;
}
a{
    color:Coral;
}
